body {
  background-color: black;
  background-image: url("https://i.pinimg.com/736x/b1/23/d6/b123d670a63a1bb746971e43327e622b.jpg");
  font-family: 'Old Standard TT', serif;

}

.navbar {
  width: 250px;
  height: 100%;
  margin: 2%;
  align-content: center;
  background-color: black;
  color: white;
  text-align: center;
  margin-top: 80px;
  border: none;
  padding: 2%;
  box-sizing: border-box;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  border-radius: 25px;

}

nav a:link,
nav a:visited,
nav a:hover,
nav a:active {
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  box-sizing: border-box;
  font-weight: bold;
  font-size: 15px;
  background-color: white;
  color: black;
  border-style: double;
  border-width: 5px;
  border-color: black;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 10px;

}

.default {
  background-color: black;
  font-family: 'Old Standard TT', serif;

}

.leopard {
  background-image: url("https://i.pinimg.com/originals/ba/60/9d/ba609dcf7e7e78e9fa4198b392c138db.jpg");
  font-family: 'Old Standard TT', serif;

}

.lisa {
  background-image: url("https://cdn.wallpapersafari.com/6/46/qaJsDY.jpg");
  font-family: 'Old Standard TT', serif;

}

h1 {
  font-weight: bold;
  font-size: 40px;
  background-color: white;
  color: black;
  border-style: double;
  border-width: 5px;
  border-color: black;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 10px;


}

h2 {
  font-weight: bold;
  font-size: 30px;



}

h3 {
  font-weight: bold;
  font-size: 20px;


}

.container {
  border-radius: 25px;
  background-color: white;
  background-image: url(assets/images/lines.jpg);
  background-size: 100%;
  padding: 5%;
  position: relative;
  margin-top: 25px;
  display: block;
  text-align: left;
  border-style: double;
  border-width: 5px;
  border-color: gainsboro;
  box-sizing: border-box;
  margin-left: 25%;
  max-width: 75%;
  text-align: left;
  height: auto;
  width: auto\9;
  position: relative;
  z-index: 1;

}

#new-title,
#new-date,
#new-topic,
#new-content {
  width: 50%;
  height: 35px;
  border-radius: 5px;
  font-family: 'Old Standard TT', serif;
  text-align: left;
  font-size: 20px;
  padding: 5px;

  text-align: center;

}

#new-content {
  width: 100%;
  height: 200px;
  border-radius: 5px;
  font-family: 'Old Standard TT', serif;
  text-align: left;
  font-size: medium;
  padding: 5px;


}

.btn-primary {
  width: 200px;
  height: 50px;
  border-radius: 5px;
  font-family: 'Old Standard TT', serif;
  text-align: center;
  font-size: medium;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: black;
  color: white;
  border-style: double;
  border-width: 5px;
  border-color: gainsboro;
  box-sizing: border-box;

}

#default-btn {
  width: 100px;
  height: 30px;
  border-radius: 5px;
  font-family: 'Old Standard TT', serif;
  text-align: center;
  font-size: medium;
  margin-top: 20px;
  color: white;
  border-style: double;
  border-width: 5px;
  border-color: gainsboro;
  box-sizing: border-box;
  font-size: 12px;

}

#leopard-btn {
  width: 100px;
  height: 30px;
  border-radius: 5px;
  font-family: 'Old Standard TT', serif;
  text-align: center;
  font-size: medium;
  margin-top: 20px;
  background-image: url("https://i.pinimg.com/originals/ba/60/9d/ba609dcf7e7e78e9fa4198b392c138db.jpg");
  color: white;
  border-style: double;
  border-width: 5px;
  border-color: gainsboro;
  box-sizing: border-box;
  font-size: 12px;

}

#lisa-btn {
  width: 100px;
  height: 30px;
  border-radius: 5px;
  font-family: 'Old Standard TT', serif;
  text-align: center;
  font-size: medium;
  margin-top: 20px;
  background-image: url("http://wallpaperset.com/w/full/c/e/0/20779.jpg");
  color: white;
  border-style: double;
  border-width: 5px;
  border-color: gainsboro;
  box-sizing: border-box;
  font-size: 12px;

}

#save,
.deleteButton {
  width: 100px;
  height: 25px;
  border-radius: 5px;
  font-family: 'Old Standard TT', serif;
  text-align: center;
  font-size: medium;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: black;
  color: white;
  border-style: double;
  border-width: 5px;
  border-color: gainsboro;
  box-sizing: border-box;
  font-size: 12px;

}

#show-note {
  display: none;
  background-color: white;
  color: black;
  border-radius: 5px;
  padding: 20px;
  border-style: double;
  border-width: 5px;
  border-color: gainsboro;
  box-sizing: border-box;

}

#instructions {
  font-size: 12px;
  font-style: italic;

}

.theme-buttons {
  text-align: right;

}